<% content_for(:title, t('.title')) %>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-success-emphasis">
      <h1 class="fw-bold mb-4"><%= t('.title') %></h1>

      <div class="card shadow-sm rounded-4">
        <div class="card-body p-4">
          <%= form_with model: @user, url: profile_path, method: :put do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.label :name, class: "form-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="mb-4">
              <%= f.label :avatar, class: "form-label" %>
              <div class="mb-3">
                <%= image_tag @user.avatar.url,
                              class: "rounded-circle",
                              id: "preview",
                              size: "100x100" %>
              </div>
              <%= f.file_field :avatar, class: "form-control", accept: "image/*" %>
              <%= f.hidden_field :avatar_cache %>
            </div>
            <div class="d-grid">
              <%= f.submit class: "btn btn-success w-100" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>