<%= form_with model: @diary do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-auto">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-auto">
    <%= f.label :thumbnail_image %>
    <%= f.file_field :thumbnail_image, class: "form-control", accept: 'image/*' %>
  </div>

  <% if @diary.thumbnail_image_url.present? %>
    <div class="mb-auto">
      <p>現在のサムネイル:</p>
      <img src="<%= @diary.thumbnail_image_url %>" alt="Thumbnail Image" width="200" />     
    </div>
  <% end %>
  
  <div class="mb-auto d-flex flex-wrap gap-2">
    <div>
      <%= f.label :plant_name %>
      <%= f.text_field :plant_name, class: "form-control", placeholder: "カタカナで入力" %>
    </div>

    <div>
      <%= f.label :variety_name %>
      <%= f.text_field :variety_name, class: "form-control", placeholder: "例：種子名など" %>
    </div>

    <div>
      <%= f.label :cultivation_method %>
      <%= f.select :cultivation_method, 
                   options_for_select(["地植え", "プランター・鉢植え", "その他"]), 
                   { include_blank: "選択してください" }, 
                   class: "form-control" %>
    </div>

    <div>
      <%= f.label :cultivation_location %>
      <%= f.select :cultivation_location, 
                   options_for_select(["室内", "庭", "ベランダ", "畑", "その他"]), 
                   { include_blank: "選択してください" }, 
                   class: "form-control" %>
    </div>
  </div>

  <div class="mb-auto">
    <%= f.label :summary_content %>
    <%= f.text_area :summary_content, class: "form-control", rows: "10" %>
  </div>

  <div id="growth-stage-contents">
    <%= f.fields_for :growth_stages do |growth_stage_form| %>
      <%= render 'diaries/growth_stage_fields', f: growth_stage_form %>
    <% end %>
  </div>

  <template id="growth-stage-template">
    <%= render 'diaries/growth_stage_fields', f: nil %>
  </template>

  <button type="button" class="btn btn-secondary" id="add-growth-stage-content"><%= t('buttons.add') %></button>
  <%= f.submit t('buttons.save'), class: "btn btn-success" %>
<% end %>

<script>
  function setupRemoveButtons() {
    document.querySelectorAll('.remove-growth-stage-btn').forEach(function(button) {
      button.addEventListener('click', function() {
        const growthStageItem = this.closest('.growth-stage-item');
        growthStageItem.querySelector('.destroy-hidden-field').value = "true";
        growthStageItem.style.display = 'none'; 
      });
    });
  }
  document.getElementById('add-growth-stage-content').addEventListener('click', function() {
    const container = document.getElementById('growth-stage-contents');
    const newItem = document.createElement('div');
    newItem.innerHTML = document.getElementById('growth-stage-template').innerHTML;
    container.appendChild(newItem);
    setupRemoveButtons();
  });

  setupRemoveButtons();
</script>