<% if f %>
  <div class="mb-auto growth-stage-item">
    <%= f.hidden_field :id %>
    <%= f.label :growth_stage_contents, t('activerecord.attributes.diary.growth_stage_contents') %>
    <%= f.text_area :growth_stage_contents, class: "form-control growth_stage_content", rows: "4", placeholder: "○月○日" %>
    <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :_destroy, value: "false", class: "destroy-hidden-field" %>
    <button type="button" class="btn btn-danger remove-growth-stage-btn"><%= t('buttons.destroy') %></button>
  </div>
<% else %>
  <div class="mb-auto growth-stage-item">
    <label for="growth_stage_contents"><%= t('activerecord.attributes.diary.growth_stage_contents') %></label>
    <textarea class="form-control growth_stage_content" rows="4" placeholder="○月○日"></textarea>
    <input type="file" class="form-control" accept="image/*">
    <input type="hidden" value="false" class="destroy-hidden-field">
    <button type="button" class="btn btn-danger remove-growth-stage-btn"><%= t('buttons.destroy') %></button>
  </div>
<% end %>
