<%= search_form_for q, url: url, method: :get, html: { class: 'row g-3 align-items-center' } do |f| %>

  <!-- 植物名検索 -->
  <div class="col-auto">
    <%= f.search_field :plant_name_cont, class: 'form-control', placeholder: '植物名', id: 'plant_name_search' %>
  </div>


  <!-- 品種名検索 -->
  <div class="col-auto">
    <%= f.search_field :variety_name_cont, class: 'form-control', placeholder: '品種名' %>
  </div>

  <!-- 栽培方法 -->
  <div class="col-auto">
    <%= f.select :cultivation_method_eq, 
                 [['地植え', '地植え'], ['プランター・鉢植え', 'プランター・鉢植え'], ['その他', 'その他']], 
                 { include_blank: '栽培形態を選択' }, class: 'form-select' %>
  </div>

  <!-- 栽培場所 -->
  <div class="col-auto">
    <%= f.select :cultivation_location_eq, 
                 [['畑', '畑'], ['庭', '庭'], ['ベランダ', 'ベランダ'], ['室内', '室内'], ['その他', 'その他']], 
                 { include_blank: '栽培場所を選択' }, class: 'form-select' %>
  </div>

  <!-- フリーキーワード検索 -->
  <div class="col-auto">
    <%= f.search_field :title_or_summary_content_cont, class: 'form-control', placeholder: 'タイトルまたは概要' %>
  </div>

  <!-- 検索ボタン -->
  <div class="col-auto">
    <%= f.submit '検索', class: 'btn btn-success' %>
  </div>
<% end %>
