<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-12 offset-auto">
      <h1 style="color: #006400;"><%= t('.title') %></h1>

      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <%= image_tag @diary.thumbnail_image.url, width: "300", height: "200", class: "card-img-top img-fluid" %>
            </div>
            <div class="col-md-7">
              <h3 style="display: inline;"><%= @diary.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= t('.created_by', user_name: @diary.user.decorate.name) %></li>
                <li class="list-inline-item"><%= l @diary.created_at, format: :long %></li>
              </ul>

              <ul class="list-unstyled">
                <li><strong><%= t('.plant_name') %>:</strong> <%= @diary.plant_name %></li>
                <li><strong><%= t('.variety_name') %>:</strong> <%= @diary.variety_name.presence || t('.not_registered') %></li>
                <li><strong><%= t('.cultivation_method') %>:</strong> <%= @diary.cultivation_method.presence || t('.not_registered') %></li>
                <li><strong><%= t('.cultivation_location') %>:</strong> <%= @diary.cultivation_location.presence || t('.not_registered') %></li>
                <p><%= simple_format(@diary.summary_content) %></p>
              </ul>
              <div class='d-flex justify-content-end'>
                <%= link_to edit_diary_path(@diary), id: "button-edit-#{@diary.id}", class: "btn btn-success me-2" do %>
                  <i class='bi bi-pencil-fill'></i> <%= t('defaults.edit') %>
                <% end %>
                <%= link_to diary_path(@diary), id: "button-delete-#{@diary.id}", class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do%>
                  <i class="bi bi-trash-fill"></i> <%= t('defaults.delete') %>
                <% end %>
              </div>
              <style>
                .btn {
                  white-space: nowrap; 
                  min-width: 120px; 
                }

                @media (max-width: 375px) {
                  .d-flex {
                  flex-wrap: nowrap; 
                  }
                }
              </style>
            </div>
          </div>
        </div>
      </article>

      <div id="growth-stage-contents">
        <% @diary.growth_stages.each do |growth_stage| %>
          <article class="card mb-3">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag growth_stage.image.url, width: "300", height: "200", class: "card-img-top img-fluid" if growth_stage.image? %>
              </div>
              <div class="col-md-9">
                <p><%= simple_format(growth_stage.growth_stage_contents) %></p>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
