<div class="container user-sessions-container">
  <div class="row">
    <div class="col-md-12 col-lg-10 mx-auto">
      <h1 style="color: #006400;"><%= t('.title') %></h1>
      <%= form_with url: login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="button-container">
          <%= f.submit t('.login'), class: "btn btn-success" %>
          <%= link_to t('.create'), new_user_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
      <div class='link-wrapper'>
        <%= link_to t('.password_forget'), new_password_reset_path %>
      </div>
      <style>
        .button-container {
          display: flex;
          flex-direction: row; /* デフォルトは横並び */
          gap: 10px; /* ボタン間の隙間を設定 */
        }

        @media (max-width: 576px) { /* スマホ画角 */
          .button-container {
            flex-direction: column; /* 縦並びに変更 */
          }

          .button-container .btn {
           margin-bottom: 10px; /* ボタンの間隔を開ける */
          }
        }
      </style>
    </div>
  </div>
</div>